<AuthorizeView Policy="Admin">
    <a class="login-link" href="/Account/Manage/Administration">
        Administration
    </a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <ManageNavMenu />
    </Authorized>
    <NotAuthorized>
        <a class="login-link" href="/Account/Login">
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>
