@page "/administration"

@inject UserManager<StreamWorksUser> _UserManager
@inject RoleManager<StreamWorksRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Administration</h3>

<AuthorizeView>
    <Authorized>
        @if (@context.User.IsInRole(admin_role))
        {
            <p>You are in @admin_role </p>
        }
        else
        {
            <p>You're not signed in as a user in @admin_role.</p>
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not loggged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string admin_role = "Administrator";
    System.Security.Claims.ClaimsPrincipal CurrentUser;
    protected override async Task OnInitializedAsync()
    {
        // ensure there is a ADMINISTRATION_ROLE
        var RoleResult = await _RoleManager.FindByNameAsync(admin_role);
        if (RoleResult == null)
        {
            // Create ADMINISTRATION_ROLE Role
            var role = new StreamWorksRole();
            role.Name = admin_role;
            await _RoleManager.CreateAsync(role);
        }
        // Ensure a user named Admin@BlazorHelpWebsite.com is an Administrator
        var user = await _UserManager.FindByNameAsync("Admin@BlazorHelpWebsite.com");
        if (user != null)
        {
            // Is Admin@BlazorHelpWebsite.com in administrator role?
            var UserResult = await _UserManager.IsInRoleAsync(user, admin_role);
            if (!UserResult)
            {
                // Put admin in Administrator role
                await _UserManager.AddToRoleAsync(user, admin_role);
            }
        }
        // Get the current logged in user
        CurrentUser = (await authenticationStateTask).User;
    }
}